<h2>Sign in Form</h2>
<form [formGroup]="signInForm">
<mat-form-field class="example-full-width">
    <input [(ngModel)]="email" matInput placeholder="Enter your user name" [(ngModel)]="email" formControlName="email" >
    <mat-error *ngIf="signInForm.controls['email'].hasError('pattern')">
        Please enter a valid email address
     </mat-error>
    <mat-error *ngIf="signInForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
     </mat-error>
</mat-form-field>

<mat-input-container>
    <input [(ngModel)]="password" matInput placeholder="Password" type="password" [(ngModel)]="password" formControlName="pass">
    <mat-error *ngIf="signInForm.controls['pass'].hasError('required')">
        Password <strong>required</strong>
     </mat-error>
</mat-input-container>

<div class="link">
    <a mat-button routerLink="/register">Register</a>
</div>

<br>
<button (click)="login()" color="primary" mat-raised-button>Submit</button>
<br>
<span><h4>{{errorMsg}}</h4></span>
</form>