<div class="main">
  <form [formGroup]="signInForm" (ngSubmit)="login($event)">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-input-container class="input-field">
          <input matInput type="text" [(ngModel)]="email" placeholder="email" formControlName="email">
          <div class="error" Error-color *ngIf="(signInForm.controls['email'].dirty || isSubmitted) && signInForm.controls['email'].invalid">
            <span *ngIf="signInForm.controls['email'].errors['required']">Enter Your Email</span>
            <span *ngIf="signInForm.controls['email'].errors['pattern']">Invalid Email</span>
          </div>
        </mat-input-container><br>

        <mat-input-container class="input-field">
          <input matInput type="password" [(ngModel)]="password" placeholder="password" formControlName="password">
          <div class="error" Error-color *ngIf="(signInForm.controls['password'].dirty || isSubmitted) && signInForm.controls['password'].invalid">Enter Your Password</div>
        </mat-input-container>
        
      </mat-card-content>
      <mat-card-actions class="action">
        <button class="submit" mat-raised-button color="primary" [disabled]="!email || !password">Login</button><br>
        <a class="signUpLink" color="accent" mat-button [routerLink]="['../signUp']">Dont have an Account? Click here</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>