<mat-toolbar color="primary" class="button">
    <button mat-mini-fab [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['../group']">Create Group</button>
        <button mat-menu-item [routerLink]="['./settings']">Settings</button>
        <button mat-menu-item (click)="logout()">Logout</button>
        
    </mat-menu>
  </mat-toolbar>

<mat-list>
    <!-- *ngIf="recent?.length > 0" -->
  <div>
  <h3 mat-subheader>Recent Chats</h3>
  <mat-list-item class="item" *ngFor="let recent of chats.recent" (click)="goToChat(recent.uid)">
    <mat-icon class="col1" mat-list-icon>person</mat-icon>
    <p class="col2" mat-line>{{recent.name}}</p>
    <p class="col3" mat-line> <app-display-status [status]="recent.status"></app-display-status> </p>
  </mat-list-item>
  </div>

  <mat-divider></mat-divider>
  <h3 mat-subheader>Friends</h3>
  <mat-list-item class="item" *ngFor="let friend of chats.friends" (click)="goToChat(friend.uid)">
    <mat-icon class="col1" mat-list-icon>person</mat-icon>
    <p class="col2" mat-line>{{friend.name}}</p>
    <p class="col3" mat-line> <app-display-status [status]="friend.status"></app-display-status> </p>
  </mat-list-item>
</mat-list>