<mat-toolbar color="primary" class="button">
  <button mat-icon-button [routerLink]="['./home']">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</mat-toolbar>
<div class="user-list">
    <mat-form-field class="group-name">
      <input matInput placeholder="Enter Group Name" name="something" [formControl]="name">
      <mat-error *ngIf="name.invalid"> Fullname is <strong> required</strong> </mat-error>
    </mat-form-field>
    

    <div *ngFor="let user of users | async">
      <mat-checkbox mat-button color="primary" (change)="toggleUser($event.checked, user.uid)">{{ user.name }}</mat-checkbox>
    </div>
  <br>
  <div class="group-button">
    <button mat-raised-button color="primary" type="button" (click)="createGroup()">Create Group</button>
  </div>
</div>