.background{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    height: 95%;
  }
  .message-list{
      font-size: 18px;
  }
  .button{
      display: flex;
      align-items: flex-start;
  }
  .bubble{
      border-radius: 10px;
      display: inline-block;
      max-width:50%;
      min-width:150px;
      padding:2px;
      margin:3px;
      border-radius: 10px;
      overflow-wrap: break-word;
    }
    .you {
      /* display: inherit;
      margin: 5px 45px 5px 20px; */
      float:  left;
      clear: right;
      background: #CFD8DC;
    }
    .you::before {
      left: -9px;
    }
    .me {
      /* display: inherit;
      margin: 5px 0px 5px 70px; */
      float:  right;
      clear: left;
      background: #ECEFF1; 
    }
    .me::before {
      right: -9px;
    }
    .message-row{
      display: flex;
      align-items: center;
    }
    .text{
      min-width: 80%;
      justify-content: flex-start;
      margin: 5px !important;
    }
    .chat-text-box{
      display: flex;
      flex-direction: row;
      min-width: 96%;
      align-items: baseline;
      justify-content: space-between;
      padding: 0 5px;
  }
  .input-field{
    min-width: 60%;
  }
  .text-button{
    min-width: 20%;
  }
  .message-row{
    display: flex;
    flex-direction: row;
  }
  .status{
    display: flex;
    min-width: 100%;
    text-align: right;
    justify-content: flex-end;
  }