.chat-text-box{
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.background{
    background-color: #C5CAE9;
}
.message-list{
    padding-top: 10px !important;
}
.emogi-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.bubble{
    background-color: #F2F2F2;
    box-shadow: 0 0 6px #B2B2B2;;
    padding: 12px 18px;
    margin: 5px 45px 5px 20px;
    word-wrap: break-word;
}
.me {
    color: peru;
    display: inherit;
    margin: 5px 45px 5px 20px;
  }
  .me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
  }
  .you {
    color: blue;
    display: inherit;
    margin: 5px 20px 5px 45px;
  }
  .you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
  }