<mat-toolbar color="primary" class="button"> 
    <button mat-icon-button [routerLink]="['./home']"><mat-icon>keyboard_backspace</mat-icon></button>
</mat-toolbar>
<div class="main-content">
  <div class="background">

    <div *ngFor="let item of msgList | async" class="message-list">

          <div class="bubble" [class.you]="isYou(item.name)" [class.me]="isMe(item.name)">
            <p>{{ item.text }} | {{  item.status}} </p>

        </div>
    </div>

    <div class="chat-text-box">
      <mat-input-container class="input-field">
        <input matInput type="text" placeholder="Write Message Here.." [(ngModel)]="msg" (keyup.enter)="sendMessage()">
      </mat-input-container>&nbsp;
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>