.main-content{
    padding: 20px 20px 20px 20px;
}
.message-list{
    font-size: 18px;
}
.button{
    display: flex;
    align-items: flex-start;
}
.bubble{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
  }
  .you {
    display: inherit;
    margin: 5px 45px 5px 20px;
    background: #eee
  }
  .you::before {
    left: -9px;
  }
  .me {
    display: inherit;
    margin: 5px 20px 5px 45px;
    background: #77ff77
  }
  .me::before {
    right: -9px;
  }