<md-card class="main-content">
  <div class="background">

    <div *ngFor="let value of name | async">
      <div class="text-area">{{ value.name }}</div>
    </div>

    <div *ngFor="let item of msgList | async" class="message-list">
      <div class="bubble" [class.you]="isYou(item.email)" [class.me]="isMe(item.email)">{{ item.text }}</div>
    </div>

    <div class="chat-text-box">
      <md-input-container class="input-field">
        <input mdInput type="text" placeholder="Write Message Here.." [(ngModel)]="msg" (keyup.enter)="sendMessage()" [innerHTML]="messageString | emojis">
      </md-input-container>&nbsp;
      <button md-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</md-card>