@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/*public pages*/
.top-section{
    height: 100px;
    background-color: #455A64;
}
.public-main{
    margin: auto;
    width: 90% !important;
}
.public-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 12px !important;
    margin-top: -30px;
}
.input-field{
    width: 90% !important;
    margin-bottom: 12px;
}
.button-fontSize{
    font-size: 17px !important;
}