<mat-sidenav-container fullscreen>
    <mat-toolbar color="primary" class="button">

            <button mat-mini-fab [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">Logout</button>
              <button mat-menu-item (click) = "deleteUser()">Delete Account</button>
            </mat-menu>
    </mat-toolbar>
    <mat-sidenav #sidenav align="right" mode="side" opened="true" disableClose="true">
        <mat-toolbar color="primary"></mat-toolbar>
        <div>
            <app-users></app-users>
        </div>
    </mat-sidenav>

    <div>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>