<md-sidenav-container fullscreen>
    <md-toolbar color="primary" class="button">

            <button md-button [mdMenuTriggerFor]="menu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item (click)="logout()">Logout</button>
              <button md-menu-item (click) = "deleteUser()">Delete Account</button>
            </md-menu>
    </md-toolbar>
    <md-sidenav #sidenav align="right" mode="side" opened="true" disableClose="true">
        <md-toolbar color="primary"></md-toolbar>
        <div>
            <app-users></app-users>
        </div>
    </md-sidenav>

    <div>
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>