<mat-toolbar color="primary" class="button">
        <button mat-mini-fab [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Create Group</button>
            <button mat-menu-item [routerLink]="['./settings']">Settings</button>
            <button mat-menu-item (click)="logout()">Logout</button>
            
        </mat-menu>
      </mat-toolbar>
      
<router-outlet></router-outlet>
